<!DOCTYPE html>
<html>
<head>
  <style>
        body {
        background-image: url("aa.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
    </style>
  <link rel="stylesheet" type="text/css" href="app.css">
  <title>WELCOME</title>
</head>
<body>
<div class="container" >
  <div class="jumbotron">
    <h1 style="text-align: center;">WELCOME TO FARMER BUDDY</h1>
    <br><br>
    <a href="si" type="button"  class="btn btn-success btn-lg" style="margin: 0;position: absolute;left: 30%;">SIGN IN</a>
    <a href="su" type="button"  class="btn btn-success btn-lg" style="margin: 0;position: absolute;right: 30%;">SIGN UP</a>
  </div>
</div>
</body>
</html>