
<!DOCTYPE html>
<html>
<head>
  <title>HOME</title>
  <link rel="stylesheet" type="text/css" href="app.css">

</head>
<body>
  <!-- nav bar portion -->


 <nav class="navbar navbar-default" style="background-color: #3333ff">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="home" style="color: white;">Framer Buddy</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" >
        <li class="active"><a href="#" style="color: white;background-color: #3333ff">Profile<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="bc" style="color: white;background-color: #3333ff">Grains<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="bp" style="color: white;background-color: #3333ff">Stuff<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="game" style="color: white;background-color: #3333ff">Log Out<span class="sr-only">(current)</span></a></li>
      </ul>
    </div>
  </div>
</nav>
<!--   nav bar ends -->

<!-- grid starts -->
<div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <div class="thumbnail">
         <a href="sc"><img src="sellcropsimg.jpg"></a>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="thumbnail">
         <a href="bc"><img src="buycropsimg.jpg"></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <div class="thumbnail">
          <a href="sp"><img src="sellproductsimg.jpg"></a>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="thumbnail">
          <a href="bp"><img src="buyproductsimg.jpg"></a>
        </div>
      </div>
    </div>
    
</div>


<!-- grid ends-->

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>




</body>
</html>

