
<!DOCTYPE html>
<html>
<head>
  <title>ADD RESULTS </title>
<!--  <link rel="stylesheet" type="text/css" href="bootstrap.css"> -->
  <link rel="stylesheet" type="text/css" href="app.css">

</head>
<body>


<div class="container">
  <div class="jumbotron" style="background-color: orange">
    <h1>WELCOME TO ADD A RESULT</h1>
    <p>Please fill the form below </p>
  </div>
<!--  .form-group
  .form-control -->

  <form method="POST" action="ad" >
    <div class="form-group">
      <label for="student"></label>
      <input type="text" name="student" class="form-control" placeholder="student name" required="text">
    </div>
    <div class="form-group">
      <label for="class"></label>
      <input type="Number" name="class" class="form-control" placeholder="student name" required="Number">
    </div>
    <div class="form-group">
      <label for="rollNumber"></label>
      <input type="Number" name="rollNumber" class="form-control" placeholder="student name" required="Number">
    </div>


    <div class="form-group">
      <label for="physics"></label>
      <input type="Number" name="physics" class="form-control" placeholder="student name" required="Number">
    </div>
    <div class="form-group">
      <label for="chemistry"></label>
      <input type="Number" name="chemistry" class="form-control" placeholder="student name" required="Number">
    </div>
    <div class="form-group">
      <label for="maths"></label>
      <input type="Number" name="maths" class="form-control" placeholder="student name" required="Number">
    </div>
    <div class="form-group">
      <label for="english"></label>
      <input type="Number" name="english" class="form-control" placeholder="student name" required="Number">
    </div>
    <div class="form-group">
      <label for="physcial"></label>
      <input type="Number" name="physcial" class="form-control" placeholder="student name" required="Number">
    </div>
    <div class="form-group">
      <label for="computer"></label>
      <input type="Number" name="computer" class="form-control" placeholder="student name" required="Number">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</body>
</html>