
<!DOCTYPE html>
<html>
<head>
  <title>SELL Product</title>
<!--  <link rel="stylesheet" type="text/css" href="bootstrap.css"> -->
  <link rel="stylesheet" type="text/css" href="app.css">

</head>
<body>
    <!-- nav bar portion -->

 <nav class="navbar navbar-default" style="background-color: #3333ff">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="home" style="color: white;">Framer Buddy</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" >
        <li class="active"><a href="#" style="color: white;background-color: #3333ff">Profile<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="bc" style="color: white;background-color: #3333ff">Grains<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="bp" style="color: white;background-color: #3333ff">Stuff<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="game" style="color: white;background-color: #3333ff">Log Out<span class="sr-only">(current)</span></a></li>
      </ul>
    </div>
  </div>
</nav>
<!--   nav bar ends -->

<div class="container">
  <div class="jumbotron" style="background-color: orange">
    <h1>WELCOME TO SELL A Product</h1>
    <p>Please fill the form below </p>
    <p>please upload image with jpg extension only</p>
  </div>
<!--  .form-group
  .form-control -->


  <form method="POST" action="sp" enctype="multipart/form-data"  >
    <div class="form-group">
      <label for="pro">Product NAME</label>
      <input type="text" name="pro" class="form-control" id="" placeholder="In capital letters" required="text">
    </div>
    <div class="form-group">
      <label for="price">PRICE</label>
      <input type="number" name="price" class="form-control" id="" placeholder="IN Rupees" required="text">
    </div>
    <div class="form-group">
      <label for="person">Person</label>
      <input type="text" name="person" class="form-control" id="" placeholder="Full Name" required="text">
    </div>
    <div class="form-group">
      <label for="ContactNumber">ContactNumber</label>
      <input type="text" name="ContactNumber" class="form-control" id="" placeholder="ContactNumber" required="text">
    </div>
    <div class="form-group">
      <label for="Address">Address</label>
      <input type="text" name="Address" class="form-control" id="" placeholder="Address" required="text">
    </div>
    <div class="form-group">
      <label for="img">Image </label>
      <input type="file" name="img" id="exampleInputFile" required="Image">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</body>
</html>